services:
  db:
    image: postgres:16
    container_name: pg
    restart: always
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: ay
      POSTGRES_PASSWORD: 1
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - pgnet

  pgadmin:
    image: dpage/pgadmin4:9
    container_name: pgadmin
    restart: always
    ports:
      - "8888:80"
    environment:
      PGADMIN_DEFAULT_USERNAME: ay
      PGADMIN_DEFAULT_EMAIL: a@g.com
      PGADMIN_DEFAULT_PASSWORD: 1
    volumes:
      - pgadmindata:/var/lib/pgadmin
    networks:
      - pgnet

networks:
  pgnet:
    driver: bridge

volumes:
  pgdata:
  pgadmindata:
